@use '../abstracts' as *;

@each $wght, $wght-value in $type-wght {
	.font-wght-#{$wght} {
		font-weight: $wght-value;
	}
}
@each $ts, $ts-value in $type-scale {
	@each $fs, $fs-value in $ts-value {
		.fs-#{$fs} {
			font-size: var(--fs-#{$fs});
		}
	}
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.break {
	display: block;
}
