@use '../abstracts' as *;
.content-img {
	img {
		max-width: 90%;
	}
	&__text {
		margin-top: 2rem;
		margin-left: 5rem;
		width: 30%;
		text-align: center;

		@include mq("all") {
			width: 75%;
			margin-left: 0rem;
		}

		h2 {
			margin: 0;
		}

		p {
			font-size: 1.1rem;
		}
	}
}
