@use '../abstracts' as *;
.legal {
	max-width: 60%;

	@include mq("small-medium") {
		max-width: 90%;
	}

	&__title {
		margin-top: 8rem;
		min-height: 20rem;
	}

	&__text {
		margin: 5rem auto;
		line-height: 180%;
		div {
			margin-bottom: 3rem;
		}
		p {
			line-height: 180%;
			color: var(--clr-neutral-200);
			font-size: var(--fs-450);
		}
		h3 {
			margin: 2.5rem 0 1rem;
			line-height: 2.5rem;
			font-size: var(--fs-650);
			color: var(--clr-neutral-0);
		}

		ul {
			padding-left: 2.5rem;
		}

		li {
			list-style: initial;
			color: var(--clr-neutral-200);
		}
	}

	&__list {
		h5 {
			margin-top: 1rem;
			margin-left: 1rem;
		}
		li {
			margin-left: 2rem;
			color: var(--clr-neutral-400);
		}
	}

	&__declaration {
		li {
			list-style: initial;
			margin-left: 2rem;
			margin-bottom: 1rem;
		}
	}
}
